@import "tailwindcss";



@theme {
  --color-menu:#e0e0e0;
  --color-primary: #F41D5E;
  --color-secondary: #00E7F9; 
  --color-background: #010101;
  --color-text: #ffffff; 
  --color-gray: #ababab; 
  --my-drop-shadow: 2px 2px 5px rgba(0, 231, 249,1);
  
  --font-urbanist: var(--font-urbanist);
  --font-figtree: var(--font-figtree);
}
*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
